<h2 nz-typography>Listado de contactos ({{ data.length }})</h2>
<nz-list nzItemLayout="horizontal" [nzLoading]="loading">
    <nz-list-item *ngFor="let item of data | paginate: { itemsPerPage: 10, currentPage: p }">
        <nz-list-item-meta style="display: flex; align-items: center;" nzAvatar="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2020/06/04/15912219730543.jpg" [nzDescription]="item.mensaje">
            <nz-list-item-meta-title>
                <a>Asunto: {{ item.asunto }}</a>
            </nz-list-item-meta-title>
            <nz-list-item-meta-title>
                <a>Teléfono: {{ item.cel }}</a>
            </nz-list-item-meta-title>
        </nz-list-item-meta>
    </nz-list-item>
    <nz-list-empty *ngIf="data.length === 0"></nz-list-empty>
</nz-list>
<pagination-controls (pageChange)="p = $event"></pagination-controls>