<div nz-row>
    <div nz-col nzSpan="12" nzOffset="6">
        <h2 class="title-dropy" nz-typography>Sube un nuevo proyecto</h2>
        <!-- <button nz-button nzType="primary" [nzBlock]="true" [nzSize]="size" nzShape="round"><i nz-icon nzType="upload"></i>Subir proyecto</button> -->
        <input type="file" class="dropify" data-max-file-size="3M" data-allowed-file-extensions='["png","jpg", "jpeg"]' (change)="project = $event.target.files" />
        <!-- <input class="text-area-proyecto" nz-input placeholder="Nombre del proyecto" /> -->
        <!-- <textarea class="text-area-proyecto" nz-input placeholder="Descripción del proyecto" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea> -->
        <button nz-button nzType="primary" (click)="saveProject()" [nzBlock]="true" [nzSize]="size" class="btn-save" nzShape="round"><i nz-icon nzType="save" ></i>Guardar</button>
    </div>
</div>