<div id="top-bar" data-aos="fade-up">
    <div class="img-menu">
        <a href="/#/home">
            <img src="https://static.wixstatic.com/media/d12a1f_3b84a65b4ed648719e92aebc00fd1794~mv2.png/v1/fill/w_383,h_50,al_c,q_85,usm_0.66_1.00_0.01/ServiAcero%20sin%20copy.webp" alt="">
        </a>
    </div>

    <ul>
        <li><button (click)="scrollTo('intro')">INICIO</button></li>
        <li><button (click)="scrollTo('servicios')">SERVICIOS</button></li>
        <li><button (click)="scrollTo('proyectos')">PROYECTOS</button></li>
        <li><button (click)="scrollTo('nosotros')">NOSOTROS</button></li>
        <li><button (click)="scrollTo('contacto')">CONTACTO</button></li>
    </ul>
</div>