<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper">
    <div class="login-register">
        <div class="login-box card">
            <div class="card-body">
                <form class="form">
                    <div style="display: block;" class="img-top-login">
                        <img src="https://static.wixstatic.com/media/d12a1f_48321d1f36b54ede87fd942d54137b64~mv2.png/v1/fill/w_59,h_59,al_c,q_85,usm_0.66_1.00_0.01/Pi%C3%B1%C3%B3n%20azul.webp" alt="Serviacero" width="75" />
                    </div>
                    <input nz-input type="email" placeholder="Correo electrónico" name="email" [(ngModel)]="email" />
                    <input nz-input type="password" placeholder="Contraseña" name="password" [(ngModel)]="password" />
                    <button nz-button nzType="primary" (click)="singIn()"><i nz-icon nzType="poweroff"></i>Ingresar!</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->