<div id="top-bar" data-aos="fade-up">
    <div class="img-menu">
        <img src="https://static.wixstatic.com/media/d12a1f_3b84a65b4ed648719e92aebc00fd1794~mv2.png/v1/fill/w_383,h_50,al_c,q_85,usm_0.66_1.00_0.01/ServiAcero%20sin%20copy.webp" alt="">
    </div>
    <!-- <div id="small-logo" data-aos="fade-right">G/K</div> -->
</div>
<div id="intro">
    <div class="larger" id="name">
        <div class="img-serviacero">
            <img src="https://static.wixstatic.com/media/d12a1f_48321d1f36b54ede87fd942d54137b64~mv2.png/v1/fill/w_59,h_59,al_c,q_85,usm_0.66_1.00_0.01/Pi%C3%B1%C3%B3n%20azul.webp" alt="">
        </div>
        <h2 data-aos="flip-left">Serviacero</h2>

    </div>
    <div class="section-arrow">
        <div class="block"></div>
        <div class="triangle left"></div>
        <div class="triangle right"></div>
        <div class="block"></div>
    </div>
</div>
<section>
    <div>
        <div class="info-banner" data-aos="fade-up">
            <h2 nz-typography>
                INGENIERÍA, DISEÑO Y MECANIZADOS INDUSTRIALES
            </h2>
        </div>
        <div class="owl-carousel owl-theme carrousel-main">
            <div>
                <div class="item-carrousel">
                    <img src="https://i.pinimg.com/originals/d1/7d/e1/d17de177f36718c749d89b6a4e9831e6.jpg" alt="">
                </div>
            </div>
            <div>
                <div class="item-carrousel">
                    <img src="https://i.pinimg.com/originals/d1/7d/e1/d17de177f36718c749d89b6a4e9831e6.jpg" alt="">
                </div>
            </div>
            <div>
                <div class="item-carrousel">
                    <img src="https://i.pinimg.com/originals/d1/7d/e1/d17de177f36718c749d89b6a4e9831e6.jpg" alt="">
                </div>
            </div>
            <div>
                <div class="item-carrousel">
                    <img src="https://i.pinimg.com/originals/d1/7d/e1/d17de177f36718c749d89b6a4e9831e6.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="info-banner" data-aos="fade-up">
            <h2 nz-typography>
                FABRICACIÓN DISEÑO Y MANTENIMIENTO
            </h2>
        </div>

        <div class="info-services" id="hola2">
            <p>
                Nos especializamos en el diseño y desarrollo de aplicaciones y productos industriales como marmitas, tanques, ciclones, estructuras, entre otros.
            </p>
        </div>
        <div class="container" *ngIf="isSmallDevice" data-aos="fade-up">
            <div class="card">
                <div class="card__image-container">
                    <img class="card__image" width="350" src="https://static.wixstatic.com/media/d12a1f_ec1349fec16648418c111868136a5988~mv2.jpg/v1/crop/x_0,y_0,w_780,h_779/fill/w_224,h_224,al_c,q_80,usm_0.66_1.00_0.01/Soldadura.webp" alt="">
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
          
                  <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
                  <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
                </svg>

                <div class="card__content">
                    <!-- <h1 class="card__title">Lorem ipsum</h1> -->
                    <p>
                        Equipos de soldadura MIG, TIG y alta frecuencia</p>
                </div>
            </div>
            <div class="card">
                <div class="card__image-container">
                    <img class="card__image" width="350" src="https://static.wixstatic.com/media/d12a1f_b43f14a41ab246de9aebc9ed86f25eb0~mv2.jpg/v1/crop/x_0,y_0,w_780,h_779/fill/w_224,h_224,al_c,q_80,usm_0.66_1.00_0.01/Mecanizado%202.webp" alt="">
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
          
                  <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
                  <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
                </svg>

                <div class="card__content">
                    <!-- <h1 class="card__title">Lorem ipsum</h1> -->
                    <p>
                        Torno paralelo CNC y convencional
                    </p>
                    <p>
                        Fresadora convencional
                    </p>
                    <p>
                        Mandrinadora
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card__image-container">
                    <img class="card__image" width="350" src="https://static.wixstatic.com/media/d12a1f_a5905bf18c324379af7ff8485110b877~mv2.jpg/v1/crop/x_289,y_0,w_863,h_864/fill/w_224,h_224,al_c,q_80,usm_0.66_1.00_0.01/Mantenimiento.webp" alt="">
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
          
                  <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
                  <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
                </svg>

                <div class="card__content">
                    <!-- <h1 class="card__title">Lorem ipsum</h1> -->
                    <p>
                        Mantenimiento e intervención de máquinas y equipos, Mano de obra administrada (MOA)
                    </p>
                </div>
            </div>
        </div>

        <div class="especialidad" *ngIf="!isSmallDevice">
            <div data-aos="fade-up">
                <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate1">
                    <nz-card-meta nzDescription="Equipos de soldadura MIG, TIG y alta frecuencia"></nz-card-meta>
                </nz-card>
                <ng-template #coverTemplate1>
                    <img alt="example" src="https://static.wixstatic.com/media/d12a1f_ec1349fec16648418c111868136a5988~mv2.jpg/v1/crop/x_0,y_0,w_780,h_779/fill/w_224,h_224,al_c,q_80,usm_0.66_1.00_0.01/Soldadura.webp" />
                </ng-template>
            </div>
            <div data-aos="fade-up">
                <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate2">
                    <nz-card-meta nzDescription="Torno paralelo CNC y convencional"></nz-card-meta>
                    <nz-card-meta nzDescription="Fresadora convencional"></nz-card-meta>
                    <nz-card-meta nzDescription="Mandrinadora"></nz-card-meta>
                </nz-card>
                <ng-template #coverTemplate2>
                    <img alt="example" src="https://static.wixstatic.com/media/d12a1f_b43f14a41ab246de9aebc9ed86f25eb0~mv2.jpg/v1/crop/x_0,y_0,w_780,h_779/fill/w_224,h_224,al_c,q_80,usm_0.66_1.00_0.01/Mecanizado%202.webp" />
                </ng-template>
            </div>
            <div data-aos="fade-up">
                <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate3">
                    <nz-card-meta nzDescription="Mantenimiento e intervención de máquinas y equipos"></nz-card-meta>
                    <nz-card-meta nzDescription="Mano de obra administrada (MOA)"></nz-card-meta>
                </nz-card>
                <ng-template #coverTemplate3>
                    <img alt="example" src="https://static.wixstatic.com/media/d12a1f_a5905bf18c324379af7ff8485110b877~mv2.jpg/v1/crop/x_289,y_0,w_863,h_864/fill/w_224,h_224,al_c,q_80,usm_0.66_1.00_0.01/Mantenimiento.webp" />
                </ng-template>
            </div>

        </div>
        <div class="info-banner" data-aos="fade-up">
            <h2 nz-typography>
                NOSOTROS
            </h2>
        </div>
        <div class="info-about-us">
            <p>
                ServiAcero S.A.S., es una empresa metalmecánica dedicada al diseño y fabricación de partes industriales, máquinas, herramientas y otros equipos de aplicación especial, así como al montaje de redes y estructuras metálicas para empresas de diferentes sectores
                económicos.
            </p>
            <p>
                En ServiAcero S.A.S. queremos lograr la satisfacción de nuestros clientes con productos y servicios del campo de la ingeniería industrial que cumplan con sus expectativas, mediante procesos seguros, saludables, que prevengan accidentes y enfermedades
                laborales, los impactos ambientales y los daños a la propiedad, para brindar bienestar económico y social a todas las partes interesadas.
            </p>

            <p>
                Para esto, contamos con la infraestructura y recursos necesarios, destacándose un grupo de personas competentes, que aplica su conocimiento y experiencia para la mejora continua de los procesos, que están comprometidos con el sistema de gestión, con el
                uso eficiente de los recursos naturales, con la seguridad y salud en el trabajo y con el cumplimiento de los requisitos contractuales y normativos.
            </p>
            <p>
                Santiago Sánchez Castaño Representante legal Revisado el 6 de Diciembre de 2019
            </p>
        </div>
        <div class="info-banner" data-aos="fade-up">
            <h2 nz-typography>
                PROYECTOS
            </h2>
        </div>
        <div class="owl-carousel owl-theme carrousel-proyecto">
            <div *ngFor="let item of projects">
                <div class="item-carrousel">
                    <img [src]="item.imgUrl" alt="">
                </div>
            </div>
        </div>

        <div class="info-banner" data-aos="fade-up">
            <h2 nz-typography>
                CLIENTES
            </h2>
        </div>
        <div class="owl-carousel owl-theme carrousel-client">
            <!-- <div>
                <div class="item-carrousel">
                    <img src="https://static.wixstatic.com/media/d12a1f_dbeccef734d342cabae139f4ff2a7267~mv2.png/v1/fill/w_147,h_48,al_c,q_85,usm_0.66_1.00_0.01/d12a1f_dbeccef734d342cabae139f4ff2a7267~mv2.webp" alt="">
                </div>
            </div> -->
            <div>
                <div class="item-carrousel">
                    <img src="https://static.wixstatic.com/media/d12a1f_dacdab0ff6f14a739c531a7eba439c23~mv2.png/v1/fill/w_159,h_101,al_c,q_85,usm_0.66_1.00_0.01/d12a1f_dacdab0ff6f14a739c531a7eba439c23~mv2.webp" alt="">
                </div>
            </div>
            <div>
                <div class="item-carrousel">
                    <img src="https://static.wixstatic.com/media/d12a1f_a71f8a6c03594ce2a50f506b956360fd~mv2.png/v1/fill/w_146,h_88,al_c,q_85,usm_0.66_1.00_0.01/d12a1f_a71f8a6c03594ce2a50f506b956360fd~mv2.webp" alt="">
                </div>
            </div>
            <div>
                <div class="item-carrousel">
                    <img src="https://static.wixstatic.com/media/d12a1f_84a70afe0b644dfca1ce343ed011f388~mv2.png/v1/fill/w_147,h_147,al_c,q_85,usm_0.66_1.00_0.01/d12a1f_84a70afe0b644dfca1ce343ed011f388~mv2.webp" alt="">
                </div>
            </div>
            <div>
                <div class="item-carrousel">
                    <img src="https://static.wixstatic.com/media/d12a1f_4eb0fa19a83f4158bb32aebe4a09dec6~mv2.png/v1/fill/w_147,h_56,al_c,lg_1,q_85/d12a1f_4eb0fa19a83f4158bb32aebe4a09dec6~mv2.webp" alt="">
                </div>
            </div>
            <!-- <div>
                <div class="item-carrousel">
                    <img src="https://static.wixstatic.com/media/d12a1f_39c779e4890e4a478a38c8a93d4833e6~mv2.jpg/v1/fill/w_147,h_33,al_c,q_80,usm_0.66_1.00_0.01/d12a1f_39c779e4890e4a478a38c8a93d4833e6~mv2.webp" alt="">
                </div>
            </div> -->
        </div>
    </div>
    <div class="info-banner" data-aos="fade-up">
        <h2 nz-typography>
            UBICACIÓN
        </h2>
    </div>
    <section class="mapa">
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d993.615410584083!2d-75.45617917077605!3d5.028623335714855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNcKwMDEnNDMuMCJOIDc1wrAyNycyMC4zIlc!5e0!3m2!1ses!2sco!4v1611081942835!5m2!1ses!2sco" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d993.615410584083!2d-75.45617917077605!3d5.028623335714855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNcKwMDEnNDMuMCJOIDc1wrAyNycyMC4zIlc!5e0!3m2!1ses!2sco!4v1611081942835!5m2!1ses!2sco"
            width="1600" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>
</section>

<!-- $("#button").click(function() {
    $('html, body').animate({
        scrollTop: $("#myDiv").offset().top
    }, 2000);
}); -->