<app-navbar></app-navbar>
<div id="intro">
    <div class="larger" id="name">
        <div class="img-serviacero">
            <img src="https://static.wixstatic.com/media/d12a1f_48321d1f36b54ede87fd942d54137b64~mv2.png/v1/fill/w_59,h_59,al_c,q_85,usm_0.66_1.00_0.01/Pi%C3%B1%C3%B3n%20azul.webp" alt="">
        </div>
        <h2 data-aos="flip-left" style="color: #121e48; font-size: 60px;">Serviacero</h2>
        <div class="info-banner-intro" data-aos="flip-up">
            <p>INGENIERÍA, DISEÑO Y MECANIZADOS INDUSTRIALES</p>
        </div>
    </div>
    <div class="section-arrow">
        <div class="block"></div>
        <div class="triangle left"></div>
        <div class="triangle right"></div>
        <div class="block"></div>
    </div>
</div>
<section>
    <div>

        <div class="info-banner" data-aos="fade-up" id="servicios">
            <h2 nz-typography>
                FABRICACIÓN DISEÑO Y MANTENIMIENTO
            </h2>
        </div>

        <div class="info-services" id="hola2">
            <p>
                Nos especializamos en el diseño y desarrollo de aplicaciones y productos industriales como marmitas, tanques, ciclones, estructuras, entre otros.
            </p>
        </div>
        <div class="container" *ngIf="isSmallDevice" data-aos="fade-up">
            <div class="card">
                <div class="card__image-container">
                    <img class="card__image" width="350" src="https://static.wixstatic.com/media/d12a1f_ec1349fec16648418c111868136a5988~mv2.jpg/v1/crop/x_0,y_0,w_780,h_779/fill/w_224,h_224,al_c,q_80,usm_0.66_1.00_0.01/Soldadura.webp" alt="">
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
          
                  <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#121e48"/>
                  <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
                </svg>

                <div class="card__content">
                    <!-- <h1 class="card__title">Lorem ipsum</h1> -->
                    <p>
                        Equipos de soldadura MIG, TIG y alta frecuencia</p>
                </div>
            </div>
            <div class="card">
                <div class="card__image-container">
                    <img class="card__image" width="350" src="https://static.wixstatic.com/media/d12a1f_b43f14a41ab246de9aebc9ed86f25eb0~mv2.jpg/v1/crop/x_0,y_0,w_780,h_779/fill/w_224,h_224,al_c,q_80,usm_0.66_1.00_0.01/Mecanizado%202.webp" alt="">
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
          
                  <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#121e48"/>
                  <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
                </svg>

                <div class="card__content">
                    <!-- <h1 class="card__title">Lorem ipsum</h1> -->
                    <p>
                        Torno paralelo CNC y convencional
                    </p>
                    <p>
                        Fresadora convencional
                    </p>
                    <p>
                        Mandrinadora
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card__image-container">
                    <img class="card__image" width="350" src="https://static.wixstatic.com/media/d12a1f_a5905bf18c324379af7ff8485110b877~mv2.jpg/v1/crop/x_289,y_0,w_863,h_864/fill/w_224,h_224,al_c,q_80,usm_0.66_1.00_0.01/Mantenimiento.webp" alt="">
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
          
                  <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#121e48"/>
                  <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
                </svg>

                <div class="card__content">
                    <!-- <h1 class="card__title">Lorem ipsum</h1> -->
                    <p>
                        Mantenimiento e intervención de máquinas y equipos, Mano de obra administrada (MOA)
                    </p>
                </div>
            </div>
        </div>

        <div class="especialidad" *ngIf="!isSmallDevice">
            <div data-aos="fade-up">
                <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate1">
                    <nz-card-meta nzDescription="Equipos de soldadura MIG, TIG y alta frecuencia"></nz-card-meta>
                </nz-card>
                <ng-template #coverTemplate1>
                    <img alt="example" src="https://static.wixstatic.com/media/d12a1f_ec1349fec16648418c111868136a5988~mv2.jpg/v1/crop/x_0,y_0,w_780,h_779/fill/w_224,h_224,al_c,q_80,usm_0.66_1.00_0.01/Soldadura.webp" />
                </ng-template>
            </div>
            <div data-aos="fade-up">
                <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate2">
                    <nz-card-meta nzDescription="Torno paralelo CNC y convencional"></nz-card-meta>
                    <nz-card-meta nzDescription="Fresadora convencional"></nz-card-meta>
                    <nz-card-meta nzDescription="Mandrinadora"></nz-card-meta>
                </nz-card>
                <ng-template #coverTemplate2>
                    <img alt="example" src="https://static.wixstatic.com/media/d12a1f_b43f14a41ab246de9aebc9ed86f25eb0~mv2.jpg/v1/crop/x_0,y_0,w_780,h_779/fill/w_224,h_224,al_c,q_80,usm_0.66_1.00_0.01/Mecanizado%202.webp" />
                </ng-template>
            </div>
            <div data-aos="fade-up">
                <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate3">
                    <nz-card-meta nzDescription="Mantenimiento e intervención de máquinas y equipos"></nz-card-meta>
                    <nz-card-meta nzDescription="Mano de obra administrada (MOA)"></nz-card-meta>
                </nz-card>
                <ng-template #coverTemplate3>
                    <img alt="example" src="https://static.wixstatic.com/media/d12a1f_a5905bf18c324379af7ff8485110b877~mv2.jpg/v1/crop/x_289,y_0,w_863,h_864/fill/w_224,h_224,al_c,q_80,usm_0.66_1.00_0.01/Mantenimiento.webp" />
                </ng-template>
            </div>

        </div>

        <div class="info-banner" data-aos="fade-up" id="proyectos">
            <h2 nz-typography>
                PROYECTOS
            </h2>
        </div>
        <div class="owl-carousel owl-theme carrousel-proyecto">
            <div *ngFor="let item of projects">
                <div class="item-carrousel">
                    <img [src]="item.imgUrl[0]" alt="">
                </div>
            </div>
        </div>

        <div class="button-projects">
            <button nz-button nzType="primary" nzBlock [routerLink]="['/projects']">Ver proyectos</button>
        </div>
        <div class="info-banner" data-aos="fade-up" id="nosotros">
            <h2 nz-typography>
                NOSOTROS
            </h2>
        </div>
        <div class="info-about-us">
            <p>
                ServiAcero S.A.S., es una empresa metalmecánica dedicada al diseño y fabricación de partes industriales, máquinas, herramientas y otros equipos de aplicación especial, así como al montaje de redes y estructuras metálicas para empresas de diferentes sectores
                económicos.
            </p>
            <p>
                En ServiAcero S.A.S. queremos lograr la satisfacción de nuestros clientes con productos y servicios del campo de la ingeniería industrial que cumplan con sus expectativas, mediante procesos seguros, saludables, que prevengan accidentes y enfermedades
                laborales, los impactos ambientales y los daños a la propiedad, para brindar bienestar económico y social a todas las partes interesadas.
            </p>

            <p>
                Para esto, contamos con la infraestructura y recursos necesarios, destacándose un grupo de personas competentes, que aplica su conocimiento y experiencia para la mejora continua de los procesos, que están comprometidos con el sistema de gestión, con el
                uso eficiente de los recursos naturales, con la seguridad y salud en el trabajo y con el cumplimiento de los requisitos contractuales y normativos.
            </p>
            <p>
                Santiago Sánchez Castaño Representante legal Revisado el 6 de Diciembre de 2019
            </p>
        </div>
        <div class="info-banner" data-aos="fade-up">
            <h2 nz-typography>
                NUESTRO EQUIPO
            </h2>
        </div>
        <div class="owl-carousel owl-theme carrousel-main">
            <div>
                <div class="item-carrousel">
                    <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29ufGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
            </div>
            <div>
                <div class="item-carrousel">
                    <img src="https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29ufGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
            </div>
            <div>
                <div class="item-carrousel">
                    <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8cGVyc29ufGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
            </div>
            <div>
                <div class="item-carrousel">
                    <img src="https://images.unsplash.com/photo-1547425260-76bcadfb4f2c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8cGVyc29ufGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
            </div>
        </div>



        <div class="info-banner" data-aos="fade-up" id="clientes">
            <h2 nz-typography>
                CLIENTES
            </h2>
        </div>
        <div class="owl-carousel owl-theme carrousel-client">
            <!-- <div>
                <div class="item-carrousel">
                    <img src="https://static.wixstatic.com/media/d12a1f_dbeccef734d342cabae139f4ff2a7267~mv2.png/v1/fill/w_147,h_48,al_c,q_85,usm_0.66_1.00_0.01/d12a1f_dbeccef734d342cabae139f4ff2a7267~mv2.webp" alt="">
                </div>
            </div> -->
            <div>
                <div class="item-carrousel">
                    <img src="https://static.wixstatic.com/media/d12a1f_dacdab0ff6f14a739c531a7eba439c23~mv2.png/v1/fill/w_159,h_101,al_c,q_85,usm_0.66_1.00_0.01/d12a1f_dacdab0ff6f14a739c531a7eba439c23~mv2.webp" alt="">
                </div>
            </div>
            <div>
                <div class="item-carrousel">
                    <img src="https://static.wixstatic.com/media/d12a1f_a71f8a6c03594ce2a50f506b956360fd~mv2.png/v1/fill/w_146,h_88,al_c,q_85,usm_0.66_1.00_0.01/d12a1f_a71f8a6c03594ce2a50f506b956360fd~mv2.webp" alt="">
                </div>
            </div>
            <div>
                <div class="item-carrousel">
                    <img src="https://static.wixstatic.com/media/d12a1f_84a70afe0b644dfca1ce343ed011f388~mv2.png/v1/fill/w_147,h_147,al_c,q_85,usm_0.66_1.00_0.01/d12a1f_84a70afe0b644dfca1ce343ed011f388~mv2.webp" alt="">
                </div>
            </div>
            <div>
                <div class="item-carrousel">
                    <img src="https://static.wixstatic.com/media/d12a1f_4eb0fa19a83f4158bb32aebe4a09dec6~mv2.png/v1/fill/w_147,h_56,al_c,lg_1,q_85/d12a1f_4eb0fa19a83f4158bb32aebe4a09dec6~mv2.webp" alt="">
                </div>
            </div>
            <!-- <div>
                <div class="item-carrousel">
                    <img src="https://static.wixstatic.com/media/d12a1f_39c779e4890e4a478a38c8a93d4833e6~mv2.jpg/v1/fill/w_147,h_33,al_c,q_80,usm_0.66_1.00_0.01/d12a1f_39c779e4890e4a478a38c8a93d4833e6~mv2.webp" alt="">
                </div>
            </div> -->
        </div>
    </div>
    <div class="info-banner" data-aos="fade-up">
        <h2 nz-typography>
            UBICACIÓN
        </h2>
    </div>
    <section class="mapa">
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d993.615410584083!2d-75.45617917077605!3d5.028623335714855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNcKwMDEnNDMuMCJOIDc1wrAyNycyMC4zIlc!5e0!3m2!1ses!2sco!4v1611081942835!5m2!1ses!2sco" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d993.615410584083!2d-75.45617917077605!3d5.028623335714855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNcKwMDEnNDMuMCJOIDc1wrAyNycyMC4zIlc!5e0!3m2!1ses!2sco!4v1611081942835!5m2!1ses!2sco"
            width="1600" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>

    <div class="info-banner" data-aos="fade-up" id="servicios">
        <h2 nz-typography>
            OFICINA PRINCIPAL
        </h2>
    </div>

    <div class="info-services" id="hola2">
        <p>
            Parque Industrial Los Pinos - La Enea, Bodega No. 3 Manizales, Caldas, Colombia
        </p>
        <p>
            administracion@serviacero.co
        </p>

        <p>
            Teléfono: (6) 874 0990
        </p>

        <p>Celular: 313 731 1668</p>

        <p>Si necesita más información, comuníquese con nosotros ​ Envíenos su mensaje completando los datos a continuación y con gusto atenderemos sus inquietudes</p>
    </div>

    <div class="info-banner" data-aos="fade-up" id="contacto">
        <h2 nz-typography>
            CONTACTO
        </h2>
    </div>

    <div class="contacto">
        <div>
            <form nz-form [formGroup]="validateForm">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8" nzRequired nzFor="mail">Correo</nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="Por favor ingrese un email valido.">
                        <input id="mail" type="email" [(ngModel)]="correo.mail" nz-input formControlName="mail" placeholder="Correo de contacto" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="8" nzRequired nzFor="cel">Teléfono</nz-form-label>
                    <nz-form-control [nzSpan]="16" nzErrorTip="Ingrese un teléfono.">
                        <input id="cel" type="text" [(ngModel)]="correo.cel" nz-input formControlName="cel" placeholder="Ingrese número de teléfono" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="8" nzRequired nzFor="asunto">Asunto</nz-form-label>
                    <nz-form-control [nzSpan]="16" nzErrorTip="Ingrese un teléfono.">
                        <input id="asunto" type="text" [(ngModel)]="correo.asunto" nz-input formControlName="asunto" placeholder="Ingrese el asunto" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="8" nzFor="gender" nzRequired>Mensaje</nz-form-label>
                    <nz-form-control [nzSpan]="16" nzErrorTip="Por favor ingrese un mensaje">
                        <textarea nz-input formControlName="mensaje" [(ngModel)]="correo.mensaje" placeholder="Ingrese el mensaje" [nzAutosize]="{ minRows: 6, maxRows: 12 }"></textarea>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control [nzSpan]="12" [nzOffset]="5">
                        <button nz-button nzType="primary" (click)="sendCorreo()">Enviar</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>

    </div>
</section>

<!-- $("#button").click(function() {
    $('html, body').animate({
        scrollTop: $("#myDiv").offset().top
    }, 2000);
}); -->